@model IEnumerable<GameSite.Models.Products>


    @{
        ViewBag.Title = "results";
    }

    <h2>results</h2>

    <p>
        @Html.ActionLink("Search Again", "index")
    </p>
    <table class="table">
        <tr>
            <th>
                NAME:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
        <tr>
            @ViewBag.results
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.ActionLink("Search", "Pdetails", new { id = item.ID }) |
                </td>
            </tr>
        }

    </table>
